.ti {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.trabajos {
    background-color: rgba(86, 82, 82, 0.3);
    backdrop-filter: blur(12px);
    padding: 1rem;
    display: flex;
    gap: 39rem;
}
body {
    background-color: #0a0a0a;
    background-image: url(Images/fondo.jpeg);
    background-size: contain;
}
* {
    color:white;
}

.si {
    flex-direction:column;
    background-color: rgba(86, 82, 82, 0.3);
    backdrop-filter: blur(6px);
    text-align: center;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    img {
        border-radius: 1rem;
    }
}